// ant popover
.ant-popover-placement-bottom,
.ant-popover-placement-top {
  .ant-popover-inner {
    padding: 0;
    border-radius: 4px;
    background-color: #434343;
  }

  .ant-popover-inner-content {
    padding: 8px;
    max-width: 250px;
    color: var(--adm-color-white);
    border-radius: 4px;
  }

  .ant-popover-arrow-content,
  .ant-popover-arrow::after,
  .ant-popover-arrow::before {
    background-color: #434343;
  }
}

.wallet-type__popover {
  width: 343px;
  .ant-popover-arrow-content {
    background: var(--adm-bg-light);
  }

  .ant-popover-inner {
    border-radius: 4px;
    background: var(--adm-bg-light);
  }

  .ant-popover-inner-content {
    padding: 12px;
  }

  .wallet-popover {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      color: var(--color-textlv1);
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px; /* 128.571% */
      text-transform: capitalize;
      img {
        margin-right: 6px;
        width: 24px;
        height: 24px;
      }
    }

    .address {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 12px;
      margin: 12px 0;
      border-radius: 6px;
      background: rgba(237, 237, 237, 0.6);
      p {
        max-width: 220px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        color: var(--adm-color-primary);
        text-overflow: ellipsis;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }

    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .btn {
        + .btn {
          margin-left: 12px;
        }
        flex: 1;
      }

      .left-btn {
        color: var(--adm-color-textLv1);
        border-radius: 8px;
        background: rgba(237, 237, 237, 0.6);
      }

      .right-btn {
        color: var(--adm-color-white);
        border-radius: 8px;
        background: var(--color-red);
        border: none;
        outline: none;
        text-shadow: none;
      }
    }
  }
}
